<div id="author" class="author-card card">
  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <div class="author-card-img image is-96x96" alt="{{ include.author.name }}" style="background-image:url('{{ author.img | absolute_url }}');"></div>
      </div>
      <div class="media-content">
        <p class="title is-4">{{ include.author.name }}</p>
        {% if include.author.social %}
        <p class="subtitle is-6">
          {% for item in include.author.social %}
          <a href="{{ item.link | absolute_url }}">{{ item.label }}</a>{% unless forloop.last %} | {% endunless %}
          {% endfor %}
        </p>
        {% endif %}
        <p>{{ include.author.bio }}</p>
      </div>
    </div>
  </div>
</div>
