
<nav id="nav" class="navbar is-primary" >
    <div class="container">
        <div class="navbar-brand">
          <a href="{{ '/' | absolute_url }}" class="navbar-item {% if page.homepage %}is-active{% endif %}">
            <img src="{{ 'assets/favicon.png' | absolute_url }}" style="filter: invert(100);" alt="{{ site.title }}" /><span style="padding: 0.5rem 0.75rem">Home</span>
          </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                    {% if item.dropdown %}
                    <div class="navbar-item has-dropdown is-hoverable">
                        <a href="{{ item.link | absolute_url }}" class="navbar-link {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                        <div class="navbar-dropdown">
                            {% for subitem in item.dropdown %}
                            <a href="{{ subitem.link | absolute_url }}" class="navbar-item {% if subitem.link == page.url %}is-active{% endif %}">{{ subitem.name }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ item.link | absolute_url }}" class="navbar-item {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>

            <div class="navbar-end">
                {% if site.gh_sponsor %}
                <a class="navbar-item" href="https://github.com/sponsors/{{ site.gh_sponsor }}">
                    <span class="icon gh-sponsor"><i class="fas fa-heart"></i></span>
                    <span>Sponsor</span>
                </a>
                {% endif %}
            </div>

        </div>
    </div>
</nav>
