<section class="hero {% if page.hero_height %} {{ page.hero_height }} {% else %} is-medium {% endif %} is-bold is-primary" {% if page.hero_image %} style="background: url('{{ page.hero_image }}') no-repeat center center; background-size: cover;" {% endif %}>
    <div class="hero-body {% if page.hero_darken %} hero-darken {% endif %}">
        <div class="container">
            <h1 class="title is-2">
              <a href="{{ '/' | absolute_url }}">
                <img src="{{ 'assets/favicon.png' | absolute_url }}" style="filter: invert(100);height:2rem;" alt="{{ site.title }}" /> {{ site.title }}
              </a>
            </h1>
            <p class="subtitle is-3">{{ page.title | default: site.subtitle }}</p>
            {% if page.hero_link %}
                <a href="{{ page.hero_link | relative_url }}" class="button is-info is-large">{{ page.hero_link_text }}</a>
            {% endif %}

            {% if site.data.navigation %}
              <div class="button-nav">
              {% for item in site.data.navigation %}
                <a href="{{ item.link | absolute_url }}" class="btn {% if item.link == page.url %}is-active{% endif %}">{{ item.name }}</a>
              {% endfor %}
              </div>
            {% endif %}
        </div>
    </div>
</section>
