<div class="notification is-success">
  <button class="delete"></button>
  <b>Event Update:</b> In solidarity with <a href="https://makingabetternyu.org/resources/#support">GSOC-UAW Local 2110</a>, the Union for Graduate Employees at NYU, we have decided to postpone our <a href="{{ 'events' | absolute_url }}">May 8th Virtual Wiki Edit-a-thon</a> to <a href="{{ 'events' | absolute_url }}">June 19th, 2021</a>.
  Register now at our <a href="https://www.eventbrite.com/e/amplifying-the-soul-of-reason-a-virtual-wiki-edit-a-thon-registration-156099400509">Eventbrite page</a>!
</div>


<div class="content intro notification border-gradient border-gradient-purple">
  <b>Welcome!</b> "Raising the Volume" is a cross-departmental NYU initiative to transform <i>Soul of Reason</i>, a historically rich 1970s NYC radio program on Black and Latinx culture, into a collaboratively curated <b>collection dataset</b>.

  <br><br>

  Our project team hosts <b><a href="{{ 'events' | absolute_url }}">community events</a>—including Transcribe-a-thons and Wikidata Edit-a-thons</b>—and supports <b><a href="{{ 'updates/creating-a-named-entity-recognition-pipeline/' | absolute_url }}">student-led scholarship</a></b> to <b>enrich, analyze, and share the collection</b> in new and newly accessible ways.
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
  (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
    const $notification = $delete.parentNode;

    $delete.addEventListener('click', () => {
      $notification.parentNode.removeChild($notification);
    });
  });
});
</script>
