<div id="progressbar" class="progress" style="height:25px">
  {% for bar in include.progress.bars %}
    {% assign percent = bar.num | divided_by: page.progress.total | times: 100 | round %}
    <div class="progress-bar{% if bar.striped %}-striped{% endif %}" role="progressbar" style="width:{{ percent }}%;background-color:{{ bar.color }}" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100">
      {% unless bar.striped %}{{ percent }}%{% endunless %}
    </div>
  {% endfor %}
</div>

<br>

{% for bar in include.progress.bars %}
  <span style="color:{{ bar.color }}">▧</span> {{ bar.num }} {{ bar.label }}<br>
{% endfor %}
