---
---
$primary: #8900e1 !default;
$secondary: #330662 !default;


html {
  scroll-behavior: smooth;
}

// #nav {
//   position: -webkit-sticky; /* Safari */
//   position: sticky;
//   top: 0;
// }

// Import Main CSS file from theme
@import "main";
