---
---
$primary: #8900e1  !default; /* #8900e1 */
$secondary: #db5c5c !default; /* #f54082 #d53a9d #330662 */

$accent: #00EDB2 !default;
$accent2: #B7990D !default;
$accent3: #D3AB9E !default;

$navbar-breakpoint: 480px;
$widescreen-enabled: false;
$fullhd-enabled: false;

@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,500;0,700;1,500;1,700&display=swap');

@mixin wavy {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: $accent;
}

@mixin gradient {
  font-weight: bold;
  display: inline-block;
  text-decoration: none;
  background: linear-gradient(to right, $primary, $secondary);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  @include gradient;
}

html {
  scroll-behavior: smooth;
}

.title {
  a {
    color: rgba(255, 255, 255, 0.9) !important;
    &:hover {
      color: rgba(255, 255, 255, 0.9) !important;
    }
  }
}

.menu-label{
  color: #111111;
}

.content {
  a {
    font-weight: bold;
    word-wrap: break-word;
    word-break: break-word;
    @include gradient;
  }
  a:hover {
    font-weight: bold;
    display: inline-block;
    text-decoration: underline;
    background: linear-gradient(to right, $secondary, $primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

// Import Main CSS file from theme
@import "main";



@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0
  }

  to {
    background-position: 0 0
  }
}

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0
  }

  to {
    background-position: 0 0
  }
}

.progress {
  display: -ms-flexbox;
  display: flex;
  height: 1rem;
  overflow: hidden;
  line-height: 0;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem
}

.progress-bar {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  overflow: hidden;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: #007bff;
  transition: width .6s ease
}

@media (prefers-reduced-motion:reduce) {
  .progress-bar {
    transition: none
  }
}

.progress-bar-striped {
  background-image: linear-gradient(45deg, rgba(255, 255, 255, .15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .15) 50%, rgba(255, 255, 255, .15) 75%, transparent 75%, transparent);
  background-size: 1rem 1rem
}

.progress-bar-animated {
  -webkit-animation: progress-bar-stripes 1s linear infinite;
  animation: progress-bar-stripes 1s linear infinite
}

@media (prefers-reduced-motion:reduce) {
  .progress-bar-animated {
    -webkit-animation: none;
    animation: none
  }
}

.update-card:hover {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.5), 0 0px 0 1px rgba(10, 10, 10, 0.1);
}

.author-card {
  margin: 3em 0 3em 0;
}

.unset-gradient {
  a, a:hover {
    display: initial;
    background: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
  }
}

.outlined {
  outline: 1px grey solid;
}

.content {
  .inline-figure {
    float: left;
    margin-top: 0 !important;
    margin-left: 0;
    margin-right: 2em;
    margin-bottom: 2em;

    .inline-figure-img {
       width: 100%;
    }

    .inline-figure-caption {
      margin: 0;
      font-size: .8rem;
    }
  }
}

.author-card-img {
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.intro {
  font-size: 1.3em;
  line-height: 1.5em;
  margin-bottom: 4rem !important;
  b {
    font-weight: 600;
  }
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to right, $primary, $secondary);
}
