---
---
// Headers
$header-heading-color: #fff !default;
$header-bg-color: #8900e1 !default;
$header-bg-color-secondary: #330662 !default;

// Text
$section-headings-color: #57068c !default;
$body-text-color: #606c71 !default;
$body-link-color: #330662 !default;
$blockquote-text-color: #606c71 !default;
$accent-color: #00EDB2 !default;
$accent-color2: #B7990D !default;
$accent-color3: #D3AB9E !default;

html {
  font-size: .9rem;
  scroll-behavior: smooth;
}
blockquote {
  border-left: none !important;
  font-weight: bold;
}
.btn:hover {
  background-color: rgba(0, 237, 178, 0.4) !important;
}
#site-title {
  color: #fff;
  text-decoration: underline transparent $accent-color;
}
#site-title:hover {
  text-decoration: underline wavy $accent-color;
}
#content {
  line-height: 1.6;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;
  }
  a {
    font-weight: bold;
    display: inline-block;
    text-decoration: none;
    background: linear-gradient(to right, $header-bg-color-secondary, $header-bg-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  a:hover {
    text-decoration-line: underline;
    text-decoration-style: wavy;
    text-decoration-color: $accent-color;
  }
}

@import "{{ site.theme }}";
